body{
    background-color: #2a2a2a;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

.cabecera{
    background-color: #1c71d8;
    color: #fff;
    margin: 0;
    padding: 20px;
    font-weight: 900;
}

.cabecera h1{
    margin: 0;
}

.cabecera span{
    font-weight: 400;
    font-size: 25px;
}

.container{
    width: 70%;
    margin: 0 auto;
    text-align: left;
    border: 1px solid #ddd;
    padding: 0;
    margin-top: 50px;
}

.container h2{
    font-size: 25px;
}

.post{
    padding: 20px;
}

.footer{
    text-align: center;
    padding: 15px;
    background-color: #3d3d3d;
}

.botones{
    display: flex;
    column-gap: 10px;
}

.botones button{
    padding: 10px 15px;
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #1c71d8;
    border: none;
    color: #fff;
    cursor: pointer;
}

.botones button:hover{
    background-color: #1f79e7;
}